{% extends "layouts/baseLayout.html" %}
<!-- Contenido para el BODY específico del dashboard -->
{% block body %}
<div
  id="dashboard-container"
  class="dashboard-container bg-base-200 drawer drawer-open"
>
  <input id="drawer" type="checkbox" class="drawer-toggle" />
  <!-- Contenido principal-->
  <div class="drawer-content">
    <main
      id="content-container"
      class="content-container bg-base-100 rounded-bl-4xl rounded-tl-4xl h-screen overflow-y-auto overflow-x-hidden"
    >
      <div
        class="bg-base-100/90 px-8 pb-4 pt-8 text-base-content sticky top-0 z-30 h-16 w-full justify-center backdrop-blur transition-shadow duration-100 print:hidden shadow-xs"
      >
        <h1 class="text-3xl font-semibold">
          {% block title %}{% endblock %}
        </h1>
      </div>
      <div class="p-8">{% block content %}{% endblock %}</div>
    </main>
  </div>
  <!-- Barra lateral de navegación -->
  <div class="drawer-side z-40">
    <label for="drawer" class="drawer-overlay" aria-label="Close menu"></label>
    {% include 'components/sidebar.html' %}
  </div>
</div>
{% endblock %}

<!-- Scripts específicos del dashboard -->
{% block scripts %} {% block extra_scripts %}{% endblock %} {% endblock %}
