{% extends "layouts/crudLayout.html" %} {% block title %}
<span>Cursos y Talleres</span>
{% endblock %}
<!-- Contenido -->
{% block content %}

<!-- ======= ESTADÍSTICAS ======= -->
<div>
  <div class="stats border border-base-300 w-full">
    <div class="stat">
      <div class="stat-figure text-primary">
        <box-icon type="solid" name="buildings" size="lg"></box-icon>
      </div>
      <div class="stat-title">Total de Cursos y Talleres</div>
      <div class="stat-value text-primary">{{ data|length }}</div>
      <div class="stat-desc">Registrados en todo el tiempo</div>
    </div>
  </div>
</div>

<!-- ===== TABLA ===== -->
<div>
  <h2 class="my-8 text-2xl font-semibold">Vista general</h2>
  <div class="mb-2">
    <button
      class="btn btn-primary btn-lg"
      data-ref="{{ url_for('cursos_talleres.crear') }}"
    >
      Agregar
    </button>
    <div class="overflow-x-auto">
      <div id="table-data"></div>
    </div>
  </div>
</div>

{% endblock %}
<!-- Scripts -->
{% block scripts %}
<script id="data" type="application/json">
  {{ data | tojson }}
</script>

<script>
  const EDIT_URL_TEMPLATE =
    "{{ url_for('cursos_talleres.editar', id=0).replace('/0','/__ID__') }}";
  const DELETE_URL_TEMPLATE =
    "{{ url_for('cursos_talleres.eliminar', id=0).replace('/0','/__ID__') }}";
  const CREATE_URL = "{{ url_for('cursos_talleres.crear') }}";

  generateTable([
    "ID",
    "Código",
    "Nombre",
    "Enlace",
    "Periodo",
    "Horario",
    "Salón",
    "Voluntario",
    "Acciones",
  ]);
</script>
{% endblock %}
