{% extends "layouts/crudLayout.html" %}
<!-- Title -->
{% block title %}
<span>Cursos y Talleres</span>
{% endblock %}
<!-- Content -->
{% block content %}
<div>
  <!-- Statistics -->
  <div class="stats border border-base-300 w-full">
    <div class="stat">
      <div class="stat-figure text-primary">
        <box-icon type="solid" name="buildings" size="lg"></box-icon>
      </div>
      <div class="stat-title">Total de Cursos y Talleres</div>
      <div class="stat-value text-primary">{{r1}}</div>
      <div class="stat-desc">Registrados en todo el tiempo</div>
    </div>

    <div class="stat">
      <div class="stat-figure text-secondary">
        <box-icon type="solid" name="buildings" size="lg"></box-icon>
      </div>
      <div class="stat-title">Participantes activos</div>
      <div class="stat-value text-secondary">51</div>
      <div class="stat-desc">50% del total</div>
    </div>

    <div class="stat">
      <div class="stat-figure text-secondary">
        <box-icon type="solid" name="baby-carriage" size="lg"></box-icon>
      </div>
      <div class="stat-value">32</div>
      <div class="stat-title">Menores de edad</div>
      <div class="stat-desc text-secondary">31% del total</div>
    </div>
  </div>
</div>
<!-- Table -->
<div>
  <h2 class="my-8 text-2xl font-semibold">Vista general</h2>
  <button class="btn btn-primary btn-lg mb-2" data-action="add">Agregar</button>
  <!-- Table of participants -->
  <div class="overflow-x-auto">
    <div id="table-data"></div>
  </div>
</div>
{% endblock %}
<!-- Scripts -->
{% block scripts %}
<script id="data" type="application/json">
  {{ data | tojson }}
</script>
<script>
  const jsonDataElement = document.getElementById("data");
  const rawData = JSON.parse(jsonDataElement.textContent);

  const grid = new gridjs.Grid({
    columns: [
      "ID",
      "Código Actividad",
      "Nombre",
      "Enlace",
      "Voluntario",
      "Acciones",
    ],
    data: rawData.map((row) => [
      row[0], // ID
      row[1], // Código Actividad
      row[2], // Nombre
      gridjs.html(`<a href="" target="_blank">${row[3]}</a>`), // Enlace como <a>
      row[4], // Voluntario
      gridjs.html(`
        <div class="flex gap-2">
            <button class="btn btn-info" data-id="${row[0]}">Editar</button>
            <button class="btn btn-error" data-id="${row[0]}">Eliminar</button>
        </div>
        `),
    ]),
    search: true,
    pagination: { enabled: true, limit: 10 },
  });

  grid.render(document.getElementById("table-data"));
</script>
{% endblock %}
