{% extends "layouts/crudLayout.html" %}
<!-- Title -->
{% block title %}
<span>Voluntarios</span>
{% endblock %}

<!-- Content -->
{% block content %}

<!-- ======= ESTADÍSTICAS (opcional) ======= -->
<div>
  <div class="stats border border-base-300 w-full">
    <div class="stat">
      <div class="stat-figure text-primary">
        <box-icon name="user-plus" size="lg"></box-icon>
      </div>
      <div class="stat-title">Total de Voluntarios</div>
      <div class="stat-value text-primary">{{ total_voluntarios }}</div>
      <div class="stat-desc">Registrados en todo el tiempo</div>
    </div>

    <div class="stat">
      <div class="stat-figure text-secondary">
        <box-icon type="solid" name="baby-carriage" size="lg"></box-icon>
      </div>
      <div class="stat-value">{{ total_menores }}</div>
      <div class="stat-title">Menores de edad</div>
      <div class="stat-desc text-secondary">31% del total</div>
    </div>
  </div>
</div>


<!-- ===== TABLA ===== -->
<div>
  <h2 class="my-8 text-2xl font-semibold">Vista general</h2>
  <div class="mb-2">
    <button
      class="btn btn-success btn-lg"
      data-ref="{{ url_for('voluntarios.crear') }}"
    >
      Agregar
    </button>
  </div>
  <div class="overflow-x-auto">
    <div id="table-data"></div>
  </div>
</div>

{% endblock %}
<!-- Scripts -->
{% block scripts %}
<script id="data" type="application/json">
  {{ data | tojson }}
</script>

<script>
  const EDIT_URL_TEMPLATE = "{{ url_for('voluntarios.editar', id=0).replace('/0','/__ID__') }}";
  const DELETE_URL_TEMPLATE = "{{ url_for('voluntarios.eliminar', id=0).replace('/0','/__ID__') }}";
  const CREATE_URL = "{{ url_for('voluntarios.crear') }}";

  generateTable([
    "ID",
    "Nombre Completo",
    "Correo",
    "Nivel de Educacion",
    "Acciones",
  ]);
</script>
{% endblock %}
