{% extends "layouts/crudLayout.html" %} {% block title %}
<span>Salones</span>
{% endblock %}
<!-- Contenido -->
{% block content %}

<!-- ======= ESTADÍSTICAS ======= -->
<div>
  <div class="stats border border-base-300 w-full">
    <div class="stat">
      <div class="stat-figure text-primary">
        <box-icon type="solid" name="buildings" size="lg"></box-icon>
      </div>
      <div class="stat-title">Total de salones</div>
      <div class="stat-value text-primary">{{ data|length }}</div>
      <div class="stat-desc">Registrados en todo el tiempo</div>
    </div>
  </div>
</div>
<!-- ===== TABLA ===== -->
<div>
  <h2 class="my-8 text-2xl font-semibold">Vista general</h2>
  <div class="mb-2">
    <button
      class="btn btn-primary btn-lg"
      data-ref="{{ url_for('salones.crear') }}"
    >
      Agregar
    </button>
  </div>
  <div class="overflow-x-auto">
    <div id="table-data"></div>
  </div>
</div>

{% endblock %}
<!-- Scripts -->
{% block scripts %}
<script id="data" type="application/json">
  {{ data | tojson }}
</script>
<script src="{{ url_for('static', filename='js/generate.js') }}"></script>
<script src="{{ url_for('static', filename='js/table.js') }}"></script>
<script src="{{ url_for('static', filename='js/modal.js') }}"></script>
<script>
  const EDIT_URL_TEMPLATE = "{{ url_for('salones.editar', id=0).replace('/0','/__ID__') }}";
  const DELETE_URL_TEMPLATE = "{{ url_for('salones.eliminar', id=0).replace('/0','/__ID__') }}";
  const CREATE_URL = "{{ url_for('salones.crear') }}";

  generateTable([
    "ID",
    "Nombre",
    "Piso",
    "Capacidad",
    "Salón Completo",
    "Acciones",
  ]);
</script>
{% endblock %}
