{% extends "layouts/crudLayout.html" %}
<!-- Title -->
{% block title %}
<span>Tutores</span>
{% endblock %}

<!-- Content -->
{% block content %}
<div>
  <!-- Statistics -->
  <div class="stats border border-base-300 w-full">
    <div class="stat">
      <div class="stat-figure text-primary">
        <box-icon name="user-plus" size="lg"></box-icon>
      </div>
      <div class="stat-title">Total de tutores</div>
      <div class="stat-value text-primary">7</div>
      <div class="stat-desc">Registrados en todo el tiempo</div>
    </div>

    <div class="stat">
      <div class="stat-figure text-secondary">
        <box-icon name="show" size="lg"></box-icon>
      </div>
      <div class="stat-title">Tutores activos</div>
      <div class="stat-value text-secondary">4</div>
      <div class="stat-desc">Ejemplo</div>
    </div>

    <div class="stat">
      <div class="stat-figure text-secondary">
        <box-icon type="solid" name="baby-carriage" size="lg"></box-icon>
      </div>
      <div class="stat-value">1</div>
      <div class="stat-title">Menores de edad</div>
      <div class="stat-desc text-secondary">Ejemplo</div>
    </div>
  </div>
</div>

<!-- Table -->
<div>
  <h2 class="my-8 text-2xl font-semibold">Vista general</h2>
  <div class="overflow-x-auto">
    <div id="tutores-table"></div>
  </div>
</div>
{% endblock %}

<!-- Scripts -->
{% block scripts %}
<script id="tutores-data" type="application/json">
  {{ data | tojson }}
</script>

<script>
  const jsonDataElement = document.getElementById("tutores-data");
  const rawData = JSON.parse(jsonDataElement.textContent);

  const grid = new gridjs.Grid({
    columns: ['ID','Nombre Completo','Parentesco','Acciones'],
    data: rawData.map(row =>[
      row[0],
      row[1], 
      row[2], 
      gridjs.html(`
        <div class="flex gap-2">
          <button class="btn btn-info" data-id="${row[0]}">Editar</button>
          <button class="btn btn-error" data-id="${row[0]}">Eliminar</button>
        </div>
      `)
    ]),
    search: true,
    pagination: {enabled: true, limit: 10}
  });

  grid.render(document.getElementById("tutores-table"));
</script>
{% endblock %}
