{% extends "layouts/crudLayout.html" %}
<!-- Title -->
{% block title%}
<span>Participantes</span>
{% endblock %}
<!-- Content -->
{% block content %}
<div>
  <!-- Statistics -->
  <div class="stats border border-base-300 w-full">
    <div class="stat">
      <div class="stat-figure text-primary">
        <box-icon name="user-plus" size="lg"></box-icon>
      </div>
      <div class="stat-title">Total de participantes</div>
      <div class="stat-value text-primary">102</div>
      <div class="stat-desc">Registrados en todo el tiempo</div>
    </div>

    <div class="stat">
      <div class="stat-figure text-secondary">
        <box-icon name="show" size="lg"></box-icon>
      </div>
      <div class="stat-title">Participantes activos</div>
      <div class="stat-value text-secondary">51</div>
      <div class="stat-desc">50% del total</div>
    </div>

    <div class="stat">
      <div class="stat-figure text-secondary">
        <box-icon type="solid" name="baby-carriage" size="lg"></box-icon>
      </div>
      <div class="stat-value">32</div>
      <div class="stat-title">Menores de edad</div>
      <div class="stat-desc text-secondary">31% del total</div>
    </div>
  </div>
</div>
<div>
  <h2 class="my-8 text-2xl font-semibold">Vista general</h2>
  <!-- Table of participants -->
  <div class="overflow-x-auto">
    <table class="table">
      <!-- head -->
      <thead>
        <tr>
          <th></th>
          <th>Name</th>
          <th>Job</th>
          <th>Favorite Color</th>
        </tr>
      </thead>
      <tbody>
        <!-- row 1 -->
        <tr>
          <th>1</th>
          <td>Cy Ganderton</td>
          <td>Quality Control Specialist</td>
          <td>Blue</td>
        </tr>
        <!-- row 2 -->
        <tr>
          <th>2</th>
          <td>Hart Hagerty</td>
          <td>Desktop Support Technician</td>
          <td>Purple</td>
        </tr>
        <!-- row 3 -->
        <tr>
          <th>3</th>
          <td>Brice Swyre</td>
          <td>Tax Accountant</td>
          <td>Red</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
{% endblock %}
<!-- Scripts -->
{% block scripts %}
<script id="participantes-data" type="application/json">
  {{ participantes_data | tojson }}
</script>
{% endblock %}